body {
  background-color: #656565;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.menu {
  width: 80px;
  height: 640px;
  margin-top: 50px;
  background-color: #4c4b4b;
  color: #fe5e00;
}

.submenu {
  display: none;
}

p {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in, -webkit-transform 2s ease;
  transition: opacity 1s ease-in, -webkit-transform 2s ease;
  -o-transition: transform 2s ease, opacity 1s ease-in;
  transition: transform 2s ease, opacity 1s ease-in;
  transition: transform 2s ease, opacity 1s ease-in, -webkit-transform 2s ease;
  position: absolute;
  color: #fe5e00;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #fe5e00;
}

.icon1 {
  background-color: #262626;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6, .icon7, .icon8 {
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .icon5:hover, .icon6:hover, .icon7:hover, .icon8:hover {
  background-color: white;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}

.icon1:hover > p, .icon2:hover > p, .icon3:hover > p, .icon4:hover > p, .icon5:hover > p, .icon6:hover > p, .icon7:hover > p, .icon8:hover > p {
  background-color: #333333;
  display: inline-block;
  position: absolute;
  height: 80px;
  width: 120px;
  color: #fe5e00;
  text-align: center;
  line-height: 75px;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 1;
}
